[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
python-dotenv = "*"
flask-login = "*"
flask-mail = "*"
gunicorn = "*"
psycopg2-binary = "*"
pytest = "*"
requests = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"

[scripts]
dev = "bash -c \"export FLASK_APP=panini && flask run\""
test = "pytest ."
coverage = "pytest --cov ."
init_db = "python init_db.py"
start = "gunicorn panini:server"
